* {
    box-sizing: border-box;
  }

  #busLogo {
    float: left;
    height: 120px;
    width: 169px;
    margin-right: 30px;
  }

  header {
    height: 120px;
    border: solid rgb(15, 15, 15);
    margin-bottom: 30px;
    border-width: medium;
  }

  h1 {
    width: 800px;
    font-size: 24pt;
    margin-top: 40px;
  }

  div {
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
  }

  #placeholder {
    color: blue;
  }

  /* .results {
    float: left;
    width: 25%;
    height: 420px;
    padding: 10px;
  }

  .results {
    border: solid rgb(15, 15, 15);
    border-width: thin;
    margin-left: 10px;
  }

  .results ul {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
  }

  .results li {
    padding: 1px;
  } */

  #products {
    float: left;
    width: 90%;
    margin-right: auto; /*added*/
    height: 320px;
    margin-bottom: 20px;
    border: solid rgb(194, 92, 194);
  }

  #products figure {
    float: left;
  }

  #instructions {
    /* float: left; */
    font-size: 16pt;
    width: 90%;
  }

  figure {
    border: solid rgb(15, 15, 15);
    border-width: thin;
    margin-left: 30px;
  }

  figure img {
    height: 290px;
    width: 326px;
  }

  figcaption {
    text-align: center;
  }

  /* img {
    width: 100%
  } */

  h2 {
    font-size: 24px;
  }

  #instructions {
    /* width: 50%; */
    text-align: center;
    margin-left: 35px;
  }

  footer {
    text-align: center;
    padding: 10px;
    width: auto;
    border: solid rgb(15, 15, 15);
    border-width: medium;
  }

  h4 {
    float: left;
    width: 70%;
    height: 200px;
    margin-bottom: 20px;
    margin-left:30px;
    font-size: 48pt;
    color: blue;
  }

  #prettyCharts {
    width: 90%;
    border: solid blueviolet;    
  }