* {
    box-sizing: border-box;
  }

  body {
    background-color: rgb(218, 218, 233);
  }

  .italic {
    font-style: oblique;
  }
  
  #busLogo {
    float: left;
    height: 120px;
    width: 169px;
    margin-right: 30px;
  }

  header {
    height: 120px;
    border: solid rgb(25, 25, 50);
    margin-bottom: 30px;
    border-width: medium;
    background-color: rgb(134, 134, 182);
  }

  h1 {
    width: 800px;
    font-size: 36pt;
    margin-top: 40px;
    color: rgb(32, 32, 63);
  }

  div {
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
  }

  #products {
    float: left;
    width: 90%;
    margin-left: 30px;
    margin-right: auto;
    height: 320px;
    margin-bottom: 20px;
  }

  #products figure {
    float: left;
  }

  #instructions {
    font-size: 16pt;
    width: 90%;
  }

  figure {
    margin-left: 50px;
  }

  figure img {
    border: solid rgb(15, 15, 15);
    border-width: thin;
    height: 290px;
    width: 326px;
  }

  figcaption {
    text-align: center;
  }

  h2 {
    font-size: 24px;
  }

  #instructions {
    text-align: center;
    margin-left: 60px;
    margin-bottom: 30px;
  }

  footer {
    text-align: center;
    padding: 10px;
    width: auto;
    border: solid rgb(25, 25, 50);
    border-width: medium;
    background-color: rgb(134, 134, 182);
  }

  h4 {
    float: left;
    width: 90%;
    height: 70px;
    margin-bottom: 20px;
    margin-left:30px;
    font-size: 28pt;
    text-align: center;
    color: rgb(32, 32, 63);
  }

  #prettyCharts {
    width: 70vw;
    margin-left: 160px;
    overflow: hidden;
  }

  #myChart {
    margin-bottom: 20px;
  }
